* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 90vh;
   display: grid;
   place-items: center;
   background-color: #D8B08C;
}

div.box {
   position: fixed;
   min-width: 100px;
   background-color: #fff;
   border-radius: 3px;
   text-align: center;
   padding: 15px 2%;
}

div.box h1 {
   font-size: 1.8rem;
   color: #000;
   margin: 15px 0;
}

div.box button {
   padding: 10px 15px;
   font-size: 16pt;
   color: #fff;
   border-radius: 3px;
   transition: .3s all ease-in-out;
   border: none;
   cursor: pointer;
   background-color: #333;
}